<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Flurl.Http.Signed" version="1.1.2" targetFramework="net461" />
  <package id="Flurl.Signed" version="2.3.0" targetFramework="net461" />
  <package id="Marvin.JsonPatch.Signed" version="0.9.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="RestSharp" version="106.1.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.0.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net45" />
  <package id="System.Linq" version="4.1.0" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
</packages>